_target_: src.datamodule.BaseDataModule
data_type: mnist
batch_size: 100
transforms:
  _target_: torchvision.transforms.Compose
  transforms:
    - _target_: torchvision.transforms.Grayscale
      num_output_channels: 3
    - _target_: torchvision.transforms.Resize
      size: 32
    - _target_: torchvision.transforms.ToTensor
    - _target_: torchvision.transforms.Normalize
      mean: 0.5
      std: 0.5
